[submodule "suckless/dmenu"]
	path = suckless/dmenu
	url = https://git.suckless.org/dmenu
[submodule "suckless/dwm"]
	path = suckless/dwm
	url = https://git.suckless.org/dwm
[submodule "suckless/st"]
	path = suckless/st
	url = https://git.suckless.org/st
[submodule "suckless/slock"]
	path = suckless/slock
	url = https://git.suckless.org/slock
[submodule "suckless/slstatus"]
	path = suckless/slstatus
	url = https://git.suckless.org/ststatus
